<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690289862533-kncun56sgrvjlo1thvlbsee3sve4kfvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690289862533-kncun56sgrvjlo1thvlbsee3sve4kfvr</string>
	<key>API_KEY</key>
	<string>AIzaSyDjowflE7oewlrzdbyfck5N6txda0oBrSk</string>
	<key>GCM_SENDER_ID</key>
	<string>690289862533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.st-ventures..SNSDemoApp</string>
	<key>PROJECT_ID</key>
	<string>snsdemoapp-2e1a7</string>
	<key>STORAGE_BUCKET</key>
	<string>snsdemoapp-2e1a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690289862533:ios:7419b68481267773fb06ec</string>
	<key>DATABASE_URL</key>
	<string>https://snsdemoapp-2e1a7.firebaseio.com</string>
</dict>
</plist>